<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h2 class="text-center">Sign in</h2>

      <form action="/users/sign_in" method="post">

        <div class="form-group row justify-content-center">
          <label for="email" class="col-md-2 col-form-label">Email</label>
          <div class="col-sm-5">
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="password" class="col-md-2 col-form-label">Password</label>
          <div class="col-sm-5">
            <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
